.carrossel-avisos-medicos {
  position: relative;
  min-height: 350px;
}
.carrossel-slide {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
  transition: opacity 0.5s;
  opacity: 1;
  z-index: 1;
}
.carrossel-slide.hidden {
  opacity: 0;
  pointer-events: none;
  z-index: 0;
}
.carrossel-avisos-medicos .carrossel-slide {
  background: transparent;
  box-shadow: none;
} 